*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
.img-1{
    background-image: url(Assets/imagem1.jpg);
    background-color: rgba(0, 0, 0, 0.5);
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: color;

}
.natureza{
    font-size: 30px;
    color: white;
    text-align: center;
    padding-top: 50vh;

}

.natureza > h1 {
    border: 2px solid white;
    width: 800px;
    margin: 0 auto;
}

.img-2{
    background-image: url(Assets/praia.jpg) ;
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: color;
}
.text1{
    padding: 50px 150px;
}

.praia{
    font-size: 30px;
    color: white;
    text-align: center;
    padding-top: 50vh;
}

.praia > h1{
    border: 2px solid white;
    margin: 0 auto;
    width: 800px;
}

.text2{
    padding: 50px 150px;
}

.img-3{
    background-image: url(Assets/montanhas.jpg);
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: color;
}
.montanhas{
    font-size: 30px;
    color: white;
    text-align: center;
    padding-top: 50vh;
}

.montanhas > h1{
    border: 2px solid white;
    margin: 0 auto;
    width: 800px;
}
.text3{
    padding: 50px 150px;
}

.img-4{
    background-image: url(Assets/florestas.jpg);
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    background-color: rgba(0, 0,0, 0.5);
    background-blend-mode: color;
}
.florestas{
    font-size: 30px;
    color: white;
    text-align: center;
    padding-top: 50vh;
}

.florestas > h1{
    border: 2px solid white;
    margin: 0 auto;
    width: 800px;
}

.text4{
    padding: 50px 150px;
}
i{
    font-size: 48px;
    color: black;
    display: block;
    text-align: right;
    margin-right: 30px;

}

.btn-topo {
  position: fixed;
  bottom: 25px;
  right: 25px;
  font-size: 48px;
  color: #0d6efd;
  text-decoration: none;
  transition: 0.3s;
  opacity: 0.8;
}

.btn-topo:hover {
  color: #ff4747;
  transform: scale(1.1);
  opacity: 1;
}